header{
    width: 90%;
    margin: auto;
    #navbar{
        justify-content: space-between;
        border-bottom: 1px solid $third;
        padding: 10px 0;
        ul{
            text-transform: capitalize;
            li{
                color: $third;
                font-weight: 700;
                margin: 0 5px;
                cursor: pointer;
                display: inline-block;
            }
            li:last-child{
                color: $secondary;
                &:hover{
                    color: white;
                    background-color: $secondary;
                    transition: all 0.5s;
                }
            }
        }
    }
    #jumbotron{
        padding: 50px 0;
        display: flex;
        h1,p{
            color: $third;
        }
        p{
            padding-bottom: 40px;
        }
        .bg{
            width: 50%;
        } 
        .btn{
            font-size: 0.8rem;
        }  
    }
}