main{
    #processes{
        background-color: $primary;
        .card_wrapper{
            display: flex;
            justify-content: space-around;
            flex-wrap: wrap;
            width: 90%;
            margin: auto;
            .card{
                flex-basis: calc(100% / 3);
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                img{
                    height: 100px;
                }
                h5{
                    padding: 10px;
                    font-weight: 400;
                }
            }
            .card:last-child{
                margin: 50px 0;
                img{
                    height: 300px;
                }
            }
        }
        .card_wrapper:first-child{
            border-bottom: 1px solid $third;
        }
        .card_wrapper:last-child{
            padding-top: 50px;
            h2{
                text-transform: uppercase;
                color: $third;
                padding-top: 50px;
            }
        }
    }

    #how_work{
        .sezione{
            position: relative;
            height: 800px;
            padding: 100px 0;
            .wrapper{
                display: flex;
                flex-wrap: wrap;
                color: $third;
                div{
                    width: 20%;
                    margin: 0 10px;
                    h4{
                        line-height: 2;
                        padding-bottom: 20px;
                    }
                    p{
                        padding: 20px 0;
                    }
                    i{
                        margin: 0 5px;
                    }
                }
                img{
                    height: 400px;
                }
            }
            .position{
                position: absolute;
                bottom: 0;
                right: 20%;
                img{
                    height: 300px;
                }
            } 
        }
        .sezione:nth-child(2n){
            .wrapper{
                justify-content: flex-end;
            }
            .position{
                left: 20%;
            }
        }
        
    }

    #join_us{
        background-color: $primary;
        >div:first-child{
            width: 60%;
            margin: auto;
            font-size: 1.3rem;
            color: $third;
            margin-bottom: 50px;
            h2{
                img{
                    margin-left: 15px
                };
            }
        }
        .card{
            width: 50%;
            margin: auto;
            background-color: white;
            border: 2px solid $secondary;
            border-radius: 5px;
            padding: 10px;
            >p{
                padding: 15px 0;
            }
            >div{
                display: flex;
                img:nth-child(2){
                    margin: 0 20px;
                }
                h5{
                    color: $secondary;
                    font-weight: 400;
                    font-size: 1.2rem;
                }
            }
        }
        >div.d-flex{
            margin: 50px 0;
            justify-content: center;
            span{
                margin: 0 10px;
                align-self: center;
            }
        }
        a.link{
            display: flex;
            justify-content: center;
            color: $third;
            i{
                align-self: center;
                margin: 0 5px;
            }
        }
    }
}