@media screen and (max-width: 998px){
    header{
        #navbar{
            ul{
                display: none;
            }
            i{
                display: block;
                color: $third;
                align-self: center;
                font-size: 1.3rem;
                cursor: pointer;
            }
        }
        #jumbotron{
            flex-wrap: wrap;
            >div{
                display: flex;
                align-items: center;
                flex-direction: column;
                text-align: center;
                h1{
                    line-height: 2;
                }
                a{
                    margin: 10px 0;
                }
                div{
                    button{
                        padding: 5px;
                        font-size: 0.6rem;
                    }
                }
            }
            .bg{
                width: 100%;
            }
        }
    }

    main{
        #processes{
            .card_wrapper{
                .card{
                    flex-basis: 100%;
                    margin: 40px 0;
                }
            }
        }
        #how_work{
            .sezione{
                height: auto;
                padding: 50px 0;
                .wrapper{
                    flex-direction: column;
                    div{
                        width: 100%;
                        text-align: center;
                        margin: 0;
                        h4{
                            font-size: 1rem;
                        }
                        a{
                            position: absolute;
                            bottom: 0;
                            left: 0;
                        }
                    }
                    img{
                        width: 80%;
                        height: auto;
                        margin: auto;
                    }
                }
                .position{
                    position: unset;
                    text-align: center;
                    margin-top: 20px;
                }
            }
        }
        #join_us{
            h2{
                font-size: 1.8rem;
                line-height: 2;
            }
            .card{
                width: 85%;
            }
        }
    }

    #site_footer{
        flex-wrap: wrap;
        >div:first-child{
            width: 100%;
            img{
                width: 200px;
            }
        }
        ul{
            flex-basis: calc(100% / 3);
            margin: 20px 0;
            width: 150px;
            li{
                width: 100%;
            }
        }
    }
}

@media screen and (max-width: 550px){
    main{
        #how_work{
            .sezione{
                .wrapper{
                    div{
                        a{
                            position: unset;
                        }
                    }
                }
                .position{
                    img{
                        height: 200px;
                    }
                }
            }
        }
        #join_us{
            h2{
                line-height: 1.5;
            }
            .card{
                >div{
                    img{
                        width: 20%;
                    }
                }
            }
            >.d-flex{
                .btn{
                    padding: 5px;
                    font-size: 0.7rem;
                }
            }
        }
    }
    #site_footer{
        padding: 50px;
        justify-content: unset;
    }
}
